/* Set width to fit in ESPN site */
body {
	width: 645px;
	font: normal 10px verdana, helvetica, sans-serif;
	margin-left: 0px;
	margin-right: 0px;
}

/* Hide Drupal Elements */
div.print-breadcrumb {
	display: none;
}
div.print-site_name {
	display: none;
}
hr.print-hr {
	display: none;
}
div.meta{
	display: none;
}
div.handle{
	display: none;
}
a.tabledrag-toggle-weight{
	display: none;
}
div.form-actions{
	display: none;
}
/* Block Content Positioning */
div.group_matchup{
	width: 40%;
	float: left;
	margin-left: 25px;
	border: 3px solid #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #fff url(http://g.espncdn.com/s/ffllm/12/images/leagueoffice/rtmod_back.png) -2px -2px no-repeat;
	width: 262px;
	margin-bottom:15px;
	font: 11px Arial,Helvetica,sans-serif;
	padding: 7px;
}
div.field-name-field-helmet1{
	float: left;
	padding-right: 25px;
}
div.field-name-field-trophy-race-leaders{
	width: 40%;
	float: right;
	margin-right: 25px;
	border: 3px solid #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #fff url(http://g.espncdn.com/s/ffllm/12/images/leagueoffice/rtmod_back.png) -2px -2px no-repeat;
	width: 262px;
	margin-bottom:15px;
	font: 11px Arial,Helvetica,sans-serif;
	padding: 7px;
}
div.field-name-field-power-ranking{
	width: 100%;
	float: left;
}
div.print-footer{
	clear: both;
}
table.views-table{
	width: 100%;
}

/* ESPN Like Styles */
div.field-label{
	font:bold 12pt Arial,Helvetica,sans-serif;
	color: #999;
	margin-top: 25px;
	margin-bottom: 10px;
}
h3{
	font:bold 12pt Arial,Helvetica,sans-serif;
	color: #999;
	margin-top: 25px;
	margin-bottom: 10px;
}
tr.odd{
	background-color: #DEE3E6;
}
tr.even{
	background-color: white;
}
td.views-field-title a{
	color: black;
	text-decoration: none;
}
td.views-field-body{
	max-width: 250px;
}
td.views-field-field-record{
	padding-left: 10px;
}
th.views-field{
	background-color: #2B67B0;
	font-weight: bold;
	height: 20px;
	color: white;
	padding: 5px;
	border-bottom: 1px solid #EDEDED;
	border-top: 1px solid white;
}
h2 {
	font:bold 12pt Arial,Helvetica,sans-serif;
	color: #999;
	margin: 0;
	margin-bottom: 10px;
}
table.content{
	width: 100%;
	background-color: #DEE3E6;
}
table.content thead{
	background-color: #2B67B0;
	font-weight: bold;
	font-size: 110%;
	color: white;
}
table.content tr{
	border-bottom: 1px solid lightgrey;
	height: 30px;
}
table.content td{
	padding-left: 10px;
}


/* Probably useless */
body.context-leagueoffice .games-innercol {
	background: #fff url(http://g.espncdn.com/s/ffllm/12/images/leagueoffice/leagueoffice_bg.gif) repeat-y;
}

body.context-leagueoffice .games-fullcol.games-fullcol-extramargin {
	margin:0;
}

body.context-leagueoffice .games-leftcol {
	width: 680px;
	margin-right:5px;
}

body.context-leagueoffice .games-rightcol {
	padding-left:9px;
}

body.context-leagueoffice a.action-link, body.context-leagueoffice a.action-link:link, body.context-leagueoffice a.action-link:visited {
	font:bold 10px verdana;
	color: #225fb2;
	text-decoration: none;
}

body.context-leagueoffice a.action-link:hover, body.context-leagueoffice a.action-link:visited:hover {
	text-decoration: underline;
}

/* LEAGUE HEADER */
#lo-league-header {
	padding:8px 5px 0 0;
	height: 77px;
	background: url(http://g.espncdn.com/s/ffllm/12/images/leagueoffice/topgrad.png) repeat-x;
	margin: 8px 0 10px 0;
	color: #2f3c41;
	font-size:9px;
}

#lo-league-header a, #lo-league-header a:link, #lo-league-header a:visited  {
	color:#225fb2;
	text-decoration: none;
}

#lo-league-header a:hover, #lo-league-header a:visited:hover {
	text-decoration: underline;
}

#lo-league-header .team-logo {
	float:left;
	margin-left: 10px;
	height:57px;
	width:67px;
	border: 1px solid #ccc;
}

#lo-league-header .league-team-names {
	float:left;
	margin-left: 10px;
	line-height:14px;
	font: 10px Arial,Helvetica,sans-serif;
	
}

#lo-league-header .league-team-names h1 {
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
}

body.context-leagueoffice #lo-league-header div.league-team-names h1 {
	margin-bottom:4px;
}


#lo-league-header .info-area {
	float:right;
	border-left: 1px dotted #a3a7a8;
	width:110px;
	padding: 0 14px;
	height:60px;
	font:9px Arial,Helvetica,sans-serif;
	line-height:13px;
	overflow:hidden;
}


/* LM NOTE */
#lm-note {
	margin: 0 15px 20px;
	width:650px;
	font-size:11px;
}
#lm-note h1 {
	font-size:24px;
	margin: 0 0 10px 0;
}

#lm-note h2 {
	float:left;
}
#lm-note div.edit-link {
	margin-left:30px;
	background:url(http://g.espncdn.com/s/ffllm/12/images/shell/ownerBtn_bg.png);
	height:16px;
	text-align:center;
	width:86px;
	float:right;
	line-height:1.4em;
}

#lm-note div.edit-link a, #lm-note div.edit-link a:link, #lm-note div.edit-link a:visited{
	font:bold 9px verdana;
	color:#225fb2;
	text-decoration: none;	
}

#lm-note div.edit-link a:hover, #lm-note div.edit-link a:visited:hover {
	text-decoration: underline;
}

#lm-note .lm-note-photo { float:left; }
#lm-note .lm-note-copy { float:left; width:220px; margin-left:10px; }


/* TOP STORY FOR STANDARD LEAGUES */
#lm-note .top-story-photo-area { float:left; }
#lm-note .top-story-photo-credit { font-size:9px; color:#777; }
#lm-note .top-story-copy { float:left; width:220px; margin-left:10px; }


/* RECENT ACTIVITY */

#lo-recent-activity { margin:0 15px 20px 15px; clear:both; }
#lo-recent-activity a, #lo-recent-activity a:link, #lo-recent-activity a:visited { color:#225fb2; }
#lo-recent-activity h1 { font: bold 22px Arial,Helvetica,sans-serif; color:#333; margin-bottom:8px; }

#lo-recent-activity-list, #lo-recent-activity-list ul { float:left; list-style: none; padding:0; margin: 0; width:100%; font-family:Arial; }
#lo-recent-activity-list li.lo-recent-activity-item { float:left; clear:left; border-bottom:1px dotted #aeaeae; width:100%; padding:4px 0; }
#lo-recent-activity-list li.lo-recent-activity-item.bottom-item { border:none; padding-bottom: 8px; }

#lo-recent-activity-list li ul li { float:left; display: inline; border:none; line-height:20px; font-weight:bold; }

#lo-recent-activity-list li ul li.recent-activity-when { float:left; clear:left; width:8em; font-size:11pt; }
#lo-recent-activity-list li ul li span.recent-activity-time { font-style:italic; color:#777; margin-left:5px; }
#lo-recent-activity-list li ul li.recent-activity-image { float:left; margin:0 10px 0 2px;line-height:0; }
#lo-recent-activity-list li ul li.recent-activity-description { float:left; font-size:9pt; font-weight:normal; width:425px; overflow:hidden; }
#lo-recent-activity-list li ul li.recent-activity-share { float:right; width:26px; height:14px; margin: 1px 14px 0 0; }
#lo-recent-activity-tools { clear:left; background: #fff url(http://g.espncdn.com/s/ffllm/12/images/leagueoffice/feed_options_grad.gif) repeat-x; height:30px; padding: 8px 10px; }

#lo-recent-activity-list li ul li.recent-activity-fulldesc {
	background:#e9eff1;
	clear:both;
	margin:6px 0 6px 138px;
	padding:6px 12px;
	width:458px;
	line-height:16px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font: normal 11px Arial,Helvetica,sans-serif;
	overflow:hidden;
}

#lo-recent-activity-list li ul li.recent-activity-toggle {
	height:16px;
	text-align:center;
	vertical-align:middle;
	width:17px;
	color:#fff;
	float:right;
	background:#cbd2d4;
	border-color:#cbd2d4;
	vertical-align:middle;
	font:bold 11pt Arial,Helvetica,sans-serif;
	text-align:center;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	line-height:normal;
	margin-top:2px;
}

#lo-recent-activity-list li ul li.recent-activity-toggle-minus {
	line-height:14px;
}

#lo-recent-activity-list span.recent-activity-faab-amount {
	margin-left: 6px;
	font-weight: bold;
}

/* SIDEBAR BOXES */
.lo-sidebar-box {
	border: 3px solid #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #fff url(http://g.espncdn.com/s/ffllm/12/images/leagueoffice/rtmod_back.png) -2px -2px no-repeat;
	width: 262px;
	margin-bottom:15px;
	font: 11px Arial,Helvetica,sans-serif;
	padding: 7px;
}

.lo-sidebar-box a, .lo-sidebar-box a:link, .lo-sidebar-box a:visited {
	font: 11px Arial,Helvetica,sans-serif;
	color:#225fb2;
	text-decoration: none;	
}

.lo-sidebar-box a:hover, .lo-sidebar-box a:visited:hover {
	text-decoration: underline;
	color: #225fb2;
}

.lo-sidebar-box h1 {
	font-size:14px;
	font-weight:bold;
	color: #333;
	margin-bottom:8px;
}

div.lo-sidebar-box table {
	width:262px;
	border-spacing: 3px;
	border-collapse: separate;
}

.lo-sidebar-box .division-name {
	font-size:11px;
	font-weight:bold;
	color: #333;
}

.lo-sidebar-box .your-team, .lo-sidebar-box .your-team a, .lo-sidebar-box .your-team a:link, .lo-sidebar-box .your-team a:visited  {
	font-weight:bold;
}

/* SCOTTS TREATMENT */
.scotts-ad {
	background: white;
	border-bottom: none;
	height: 136px;
	overflow: hidden;
	padding: 0;
	width: 275px;
}

.scotts-agreement {
	height: 67px;
	margin-top: 5px;
	font: 10px arial;
	font-weight: bold;
	background: url(http://g.espncdn.com/s/flblm/12/images/leagueoffice/scotts_pre_bottom.png)
}
.scotts-opted-in {
	background: url(http://g.espncdn.com/s/flblm/12/images/leagueoffice/scotts_post_bottom.png)
}
/* MESSAGE BOARD */
.lo-message-entry {
	margin-bottom:10px;
}
.lo-message-info {
	float:left;
	font:normal 12px Arial,Helvetica,sans-serif;
	color:#000;
	width:195px;
}
.lo-message-info a, .lo-message-info a:link, .lo-message-info a:visited {
	font:bold 12px Arial,Helvetica,sans-serif;
}
.lo-message-author {
	font:normal 11px Arial,Helvetica,sans-serif;
	color:#999;
}
.lo-message-author a, .lo-message-author a:link, .lo-message-author a:visited {
	font:normal 11px Arial,Helvetica,sans-serif;
	color:#999;
}
.lo-message-author a:hover, .lo-message-author a:visited:hover {
	color:#999;
}
.lo-message-replies {
	float:right;
	background:#cbd2d4;
	border-color:#cbd2d4;
	width:65px;
	height:30px;
	vertical-align:middle;
	font:normal 11px Arial,Helvetica,sans-serif;
	color:#000;
	text-align:center;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.lo-message-replies a, .lo-message-replies a:link, .lo-message-replies a:visited {
	font:normal 11px Arial,Helvetica,sans-serif;
	color:#000;
	line-height:30px;
}
.lo-message-replies a:hover, .lo-message-replies a:visited:hover {
	color:#000;
}

/* ALERTS */
.alertcontainer {
	width: 650px;
	background:#A4A476;
	border-color:#A4A476;
	margin: 0 0 20px 15px;
	padding: 7px 0;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.alertredcontainer {
	width: 650px;
	background:#c00;
	border-color:#c00;
	margin: 0 0 20px 15px;
	padding: 7px 0;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.alertgraphic{
	float: left;
}
.alerttext {
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	color: #FFFFFF;
	text-decoration: none;
	width: 484px;
	padding: 12px 0 8px 15px;
}
.alert-btm { background: #fff url(http://g.espncdn.com/s/ffllm/12/images/leagueoffice/alert_borders.gif) 0 -21px; height: 7px; }
.alert-top { background: #fff url(http://g.espncdn.com/s/ffllm/12/images/leagueoffice/alert_borders.gif) 0 -14px; height: 7px; }
.alertred-btm { background: #fff url(http://g.espncdn.com/s/ffllm/12/images/leagueoffice/alert_borders.gif) 0 -7px; height: 7px; }
.alertred-top { background: #fff url(http://g.espncdn.com/s/ffllm/12/images/leagueoffice/alert_borders.gif) 0 0; height: 7px; }

.alerttext a:link, .alerttext a:visited, .alerttext a:active, .alerttext a:hover {color: #FFFFFF;text-decoration: underline;}

/* COLUMNISTS */
.columnist-parent { margin-top: 9px; clear:both; }
.columnist-parent.columnist-first { margin-top:4px; }
.columnist-mug { float:left; width:35px; height:48px; margin-right:3px; }
.columnist-details { float:left; width:220px; font-size:9px; }
.columnist-name { font-weight:bold; font-size:10px; }
.columnist-action-link { margin-top:10px; }

/* TROPHY SHOWCASE */
.trophy-imginfo-wrap { height:110px; }
.trophy-image-wrap { text-align:center; width:100px; float:left; }
.trophy-image { display:block; margin:auto; position:relative; }
.trophy-info { margin-top:4px; }
.trophy-info-owner { line-height: 16px; overflow:hidden; }
.trophy-links-wrap { padding-top:10px; }

/* LEAGUE CHAMPION */
.champ-image-wrap { float:left; padding-right:5px; }
.champ-imginfo-wrap { height:100px; }
.champ-info-wrap { overflow:hidden; }
		
/* BEGIN UNIVERSAL HEADER MODULES STYLES added 012010*****************/

body.trans-fantasy.context-clubhouse .games-innercol2 {
	background: transparent url(http://g.espncdn.com/s/ffllm/12/images/shell/univ_lineup_gradBG.jpg) 0 26px repeat-x;
}

body.context-clubhouse.clubhouse-pre-draft .games-innercol2 {
	background: transparent url(http://g.espncdn.com/s/ffllm/12/images/shell/univH_gradbg.png) 0 26px repeat-x;
}

.games-univ-mod1 {
	background: #ced7d9;
	color: #333;
	float: left;
	margin: 0 auto;
	text-align: center;
	width: 151px;
	height:164px;
}


div.games-univ-mod1 p {
	font: normal 9px verdana, helvetica, sans-serif;
	margin: 0;
	padding: 3px;
}

.games-univ-mod1 p img {vertical-align: middle;}
.games-univ-mod1 p a, .games-univ-mod1 p a:link, .games-univ-mod1 p a:visited, .games-univ-mod1 p a:visited:hover, .games-univ-mod1 p a:hover {line-height: 1.6em;}

.games-univ-mod1 a.games-myteam-logo {
	display: block;
	height: 129px;
}

/*begin univ module2 ****/
.games-univ-mod2 {
	float: left;
	margin: 0 0 0 10px;
	width: 502px;
}
.games-univ-mod2.univ-bottom-mod2 {margin-top: 11px;}


* html .games-univ-mod2.univ-bottom-mod2 {margin-top: 9px;}
*+html .games-univ-mod2.univ-bottom-mod2 {margin-top: 10px;}

/*begin univ module3 ****/
.games-univ-mod3 {
	float: left;
	width: 342px;
	height:50px;
}

.games-univ-mod3 h3 {
	font: bold 18px arial, helvetica, sans-serif;
	line-height: 1em;
	margin: 0 0 3px 0;
	padding: 0;
}
.games-univ-mod3 h3 em {
	font: normal 50% verdana, helvetica, sans-serif;
	font-style: normal;
	text-transform: uppercase;
	
}
.games-univ-mod3 ul {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height:1.6em;

}
.games-univ-mod3 ul li.per-info {
	float: left;
	margin-right: 4px;
}

.games-univ-mod3 ul li.per-info em {margin-left: 4px;}

.games-univ-mod3 ul li.univBtn1 {
	background: transparent url(http://g.espncdn.com/s/ffllm/12/images/shell/ownerBtn_bg.png) top left no-repeat;
	height: 16px;
	margin-left: 4px;
	text-align: center;
	width: 86px;
	line-height:1.6em;
}


/*begin univ module4 ****/
.games-univ-mod4 {
	background: #31363e;
	/*behavior:url(/ffl/static/css/borderradius);*/
	border-color: #31363e;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; 
	border-radius: 3px;
	float: right;
	height: 44px;
	text-align: left;
	margin: 0 auto;
	padding: 6px 3px 0 8px;
	width: 145px;
	color: #bbc4c5;
	line-height:16px;
}

.games-univ-mod4 h4 {
	font: 18px arial, helvetica, sans-serf;
	color: #fff;
	margin: 0;
	padding: 0;
}
.games-univ-mod4 h4 strong {
	color: #bbc4c5;
	font-size: 65%;
}

.games-univ-mod4 h4 em {
	font-size: 65%;
	font-style: normal;
}

.games-univ-mod4 h4 a {
	display: inline-block;
	margin-left: 8px;
	width: 13px;
}
.games-univ-mod4 h4 a img {
	vertical-align: text-top;
}
	
.games-univ-mod4 a, .games-univ-mod4 a:link, .games-univ-mod4 a:visited, .games-univ-mod4 a:hover, .games-univ-mod4 a:visited:hover {
	color: #bbc4c5;
	font-weight:normal;
	text-decoration:underline;
}
	
.games-univ-mod4 a.games-schedule, .games-univ-mod4 a.games-schedule:hover  {
	background: transparent url(http://g.espncdn.com/s/ffllm/12/images/shell/whitearrowBG.png) 0 4px no-repeat;
	color: #fff;
	padding-left: 8px;
	text-decoration: underline;
}
.games-univ-mod4 a.games-schedule:hover {text-decoration: none;}

/*begin univ module5 styles*/
.games-univ-mod5 {
	background: #d7dedf;
	/*behavior:url(/ffl/static/css/borderradius);*/
	border-color: #d7dedf;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px; 
	border-radius: 3px;
	float: left;
	height: 90px;
	padding: 7px;
	width: 232px;
}

.games-univ-mod5 ul {
	list-style: none;
	font: normal 9px verdana, helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
.games-univ-mod5 ul li {
	line-height: 1.2em;
	margin: 0;
	padding: 0;
}
.games-univ-mod5 ul li ul {
	float: left;
	padding-left: 6px;
}

.games-univ-mod5 ul li.games-firstlist {
	background: #6d7172;
	/*behavior:url(/ffl/static/css/borderradius);*/
	border-color: #6d7172; 
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	color: #fff;
	padding: 4px 6px;
}

.games-univ-mod5 ul li.games-firstlist a, .games-univ-mod5 ul li.games-firstlist a:hover {
	color: #fff;
	margin: 0 1px;
	text-decoration: underline;
}
.games-univ-mod5 ul li.games-firstlist a:hover {text-decoration: none;}

.games-univ-mod5 ul li.games-secondlist {
	background: #bbc4c5;
	/*behavior:url(/ffl/static/css/borderradius);*/
	border-color: #6d7172; 
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 4px 6px;
}
.games-univ-mod5 ul li.games-secondlist a.games-teamname, .games-univ-mod5 ul li.games-secondlist a.games-teamname:hover {margin: 0 1px;}

.games-univ-mod5 ul li.games-btm-area {
	margin-top: 5px;
}

.games-univ-mod5 ul li ul.games-btm-right-list {margin-left: 24px;}
.games-univ-mod5 ul li ul li {line-height: 1.8em;}
/*.games-univ-mod5 ul li ul li strong {margin-right: 3px;}*/

.games-univ-mod5.univ-right-mod5 {float: right;}
.games-univ-mod5.univ-right-mod5 ul {float: left;}
.games-univ-mod5.univ-right-mod5 ul.games-external-btns {width: 100px; height: 90px;}
.games-univ-mod5.univ-right-mod5 ul.games-external-btns li {
	background: #eff2f2;
	/*behavior:url(/ffl/static/css/borderradius);*/
	border-color: #d7dedf;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px; 
	border-radius: 2px;
	margin-bottom: 8px;
	padding: 2px 4px;
	text-align:center;
	font-weight:bold;
}

.games-univ-mod5.univ-right-mod5 ul.games-external-btns li a, .games-univ-mod5.univ-right-mod5 ul.games-external-btns li a:link,
.games-univ-mod5.univ-right-mod5 ul.games-external-btns li a:visited, .games-univ-mod5.univ-right-mod5 ul.games-external-btns li a:visited:hover,
.games-univ-mod5.univ-right-mod5 ul.games-external-btns li a:hover {
	font-weight:bold;
}

.games-univ-mod5.univ-right-mod5 ul.games-external-btns li.last-btn {margin-bottom: 0;}
.games-univ-mod5.univ-right-mod5 ul.games-external-btns li.last-btn a {float: left; display: block;}

.games-univ-mod5.univ-right-mod5 ul.games-external-btns li.last-btn.stubhub-link {
	background: #eff2f2 url(../images/stubhub_icon.png) 6px 0 no-repeat;
	padding: 0 4px;
}
.games-univ-mod5.univ-right-mod5 ul.games-external-btns li.last-btn.stubhub-link a {
	height: 14px;
	padding: 2px 0 0 43px;
}
.games-univ-mod5.univ-right-mod5 ul.games-external-btns li a.games-insider-link {
	background: transparent url(../images/insider_icon.png) 77px 0 no-repeat;
	display: block;
	height: 11px;
	width: 100%;
}

.games-univ-mod5.univ-right-mod5 ul.external-sec-row {
	margin-left: 10px;
	padding-top: 20px;
}
.games-univ-mod5.univ-right-mod5 ul.external-sec-row li {float: left;}
.games-univ-mod5.univ-right-mod5 ul.external-sec-row li.games-mobile-link {padding: 10px 0 0 5px;}



/*BEGIN YOUR LINEUP MODULE STYLES **********************************/


.games-dates-mod {
	height: 25px;
	line-height: 1.4em;
	margin-top:19px;
	z-index: 10;
	font: normal 12px arial, helvetica, sans-serif;
	margin-left:6px;
	overflow:hidden;
}
.ie .games-dates-mod { margin-top:20px; }

.games-dates-mod ul, .games-dates-mod ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}


.games-dates-mod ul li {
	color: #fff;
	font: normal 12px arial, helvetica, sans-serif;
	float: left;
	margin-right: 18px;
	width: auto;
	line-height:25px;
}

.games-topcol .games-dates-mod ul li a, .games-topcol .games-dates-mod ul li a:hover {
	font: normal 12px arial, helvetica, sans-serif;
	line-height:25px; 
}

.games-dates-mod ul li a:link, .games-dates-mod ul li a:hover, .games-dates-mod ul li a:visited {
	color: #fff;
	display: block;
	padding-right: 4px;
	text-decoration: none;
}

.games-dates-mod ul li a:hover {text-decoration: underline;}

.games-dates-mod ul li.date-on {
	background: transparent url(http://g.espncdn.com/s/ffllm/12/images/shell/lineup_tabL_bg.png) top left no-repeat;
}


.games-dates-mod ul li.date-on div {
	background: transparent url(http://g.espncdn.com/s/ffllm/12/images/shell/lineup_tabR_bg.png) top right no-repeat;
	color: #31363e;
	font-weight: bold;
	margin-left: 7px;
	padding: 0 7px 0 0;
	text-decoration: none;
}

.games-dates-mod ul li.date-on a, .games-dates-mod ul li.date-on a:link, .games-dates-mod ul li.date-on a:visited, .games-dates-mod ul li.date-on a:visited:hover, .games-dates-mod ul li.date-on a:hover {
	background: transparent url(http://g.espncdn.com/s/ffllm/12/images/shell/lineup_tabR_bg.png) top right no-repeat;
	color: #31363e;
	font-weight: bold;
	margin-left: 7px;
	padding: 0 7px 0 0;
	text-decoration: none;
}

.games-dates-mod ul li h3 {
	color: #eebe5e;
	font-weight: bold;
	line-height: 25px;
	margin:0;
	font-size:100%;
}


/* PENDING TRANSACTIONS BOX */

.transDiv {
	display:block;
	margin:18px 3px 3px 3px;
}
.transDivLabel {
	display:block;
	padding: 4px 8px 4px 8px;
	border:solid 1px #cccccc;
	border-right:none;
	border-left:none;
	background-color:#dddddd;
}
.transDivButton {
	float:right;
	width:47px;
	height:11px;
	z-index:9;
}
.transDivHeaders {
	padding:3px;height:12px;border-bottom:solid 1px #c9c9bc;
}
.draftPicksHeadersRound {
	width:45px;text-align:right;display:inline;float:left;
}
.draftPicksHeadersPick {
	margin-left:25px;width:45px;text-align:right;display:inline;float:left;
}
.draftPicksHeadersOverall {
	margin-left:25px;width:50px;text-align:right;display:inline;float:left;
}
.draftPicksHeadersNotes {
	margin-right:8px;width:300px; text-align:right;display:inline;float:right;
}
.draftPicksRow {
	padding:0px;height:17px;border-bottom: solid 1px #fff; background-color:#efefef;
}
.draftPicksRowPick {
	width:45px;text-align:right;display:inline;float:left;
}
.draftPicksRowRound {
	margin-left:25px;width:45px;text-align:right;display:inline;float:left;
}
.draftPicksRowOverall {
	margin-left:25px;width:50px;text-align:right;display:inline;float:left;
}
.draftPicksRowNotes {
	margin-right:8px;width:300px;text-align:right;display:inline;float:right;
}
.pendingMoveBatchDiv {
	display:block;padding:10px 6px 10px 6px;border-bottom: solid 1px #fff;background-color:#efefef;
}
.pendingMoveTransactionDetailsDiv {
	padding-top:6px;
}
.pendingMoveActionLinks {
	float:right;text-align:right;width:150px;padding:0px 8px 0px 0px;
}
.pendingMoveWaiverOrder {
	float:right;text-align:right;width:150px;padding:0px 8px 0px 0px;
}



div.gamesmain table.rotoline { border-collapse:collapse; margin:18px 0 6px 0; } 
table.rotoline tr td { border-right:1px solid white; }
table.rotoline tr td.rotoline-category-change { border-left:2px solid white; }
table.rotoline tr td.rotoline-shadow { background-image:url("http://g.espncdn.com/s/flblm/11/images/rotoline-shadow-4.png"); background-repeat: repeat-y; border-left:0px; }
table.rotoline .rotoline-header { font-weight:bold; }

table.rotoline td.strong { font-weight:bold; }
table.rotoline td { line-height:15px; font-size:11px; }
table.rotoline td.casterhl { background:#cfcfd1; }
table.rotoline .rotoline-header-stat, table.rotoline .rotoline-team-stat { width:50px; text-align:right; }

table.rotoline tr td, .rotoline-expanded tr td { padding:3px 6px 3px 6px; font-family: Arial, Helvetica; }

table.rotoline tr.rotoline-header td.rotoline-header-title { -webkit-border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; border-top-left-radius: 10px; background: #40464f; color:white; padding-left:15px; border-bottom:1px solid #40464f;width:130px;}
table.rotoline tr.rotoline-header td.rotoline-header-toggle { width:20px; background:#40464f;border-bottom:1px solid #40464f; }
table.rotoline tr td:first-child { border-right:0px; border-left:0px; }


table.rotoline tr.rotoline-team-stat-row { background-color: #f3f4f6;}

table.rotoline tr.rotoline-next-better-stat-row { background-color: white; color:#85a447; }
table.rotoline tr.rotoline-next-worse-stat-row { background-color: white; color:#be8576; }

table.rotoline .rotoline-raquo { font-size:13px; }

div.gamesmain .rotoline-expanded { position:absolute; z-index:99999; }
div.gamesmain .rotoline-expanded table { border-collapse:collapse; border:1px solid #d9d9d9; float:left; }

.rotoline-expanded td { background:white; }

.rotoline-expanded td.higher { color: #85a447; }
.rotoline-expanded td.lower { color: #be8576; }
.rotoline-spacer-row td { background:none; }

table.rotoline tr.rotoline-header td, table.rotoline-expanded tr.rotoline-header td { background:#f2f4f6 url("http://g.espncdn.com/s/flblm/11/images/rotoline-header-bg.png") repeat-x; color:black; border-bottom:1px solid #d9d9d9; line-height:14px; }
.rotoline-stats span.rotoline-points { display:none; }
.rotoline-points span.rotoline-stats { display:none; }

.rotoline-points-toggle { width:16px; height:16px; background: #40464f url("http://g.espncdn.com/s/flblm/11/images/rotoline/rotoline-points-toggle.png"); }
.rotoline-header-title .rotoline-points, .rotoline-header-title .rotoline-stats { float:right; }

.rotoline-expanded-tl, .rotoline-expanded-tr, .rotoline-expanded-bl, .rotoline-expanded-br { float:left; width:11px; height:11px; background: url(http://g.espncdn.com/s/flblm/11/images/rotoline/exp-shadow-corners.png); }
.rotoline-expanded-tr { background-position:-11px 0px; }
.rotoline-expanded-bl { background-position:0 -11px; }
.rotoline-expanded-br { background-position:-11px -11px; }
.rotoline-expanded-top, .rotoline-expanded-bottom { float:left; background:url(http://g.espncdn.com/s/flblm/11/images/rotoline/exp-shadow-tb.png); }
.rotoline-expanded-bottom { background-position:0px -11px; }

.rotoline-expanded-top, .rotoline-expanded-bottom { height:11px; }
.rotoline-expanded-left, .rotoline-expanded-right { float:left; width:11px; background:url(http://g.espncdn.com/s/flblm/11/images/rotoline/exp-shadow-lr.png) }
.rotoline-expanded-right { background-position:-11px 0px; }

#lm-newsfeed { height:650px; width:100%; overflow:auto; border: 1px solid #c9c9bc; }
#lm-newsfeed div.feedentry { padding: 0px; border: 2px solid #c9c9bc; border-bottom: 3px solid #c9c9bc; }
#lm-newsfeed div.feedentryborder {  }
#lm-newsfeed div.feedentry div.feedentrylabel { padding:10px; height: 14px; }
#lm-newsfeed div.feedentry div.highlightentry { color: #666 }
#lm-newsfeed div.feedentry div.feedtitle { float:left; font-size: 10px; width: 85%; overflow:hidden; height:14px; }
#lm-newsfeed div.feedentry div.feeddate { float:right;color: #666;font-size: 10px; }
#lm-newsfeed div.feedentry div.feedtoggle { float:right; margin-left: 8px; }
#lm-newsfeed div.closed { height:34px; overflow:hidden; padding: 2px 2px 1px 2px; border: none; border-bottom: 1px solid #c9c9bc; }

#lm-newsfeed div.feedentry div.feedcontent { padding:10px; }
#lm-newsfeed .pni-shorttext { font-weight:bold; font-size: 130%; margin-bottom: 12px; } 
#lm-newsfeed .pni-longtext {  font-size: 115%; }
#lm-newsfeed .pni-details-left { font-size: 115%; font-weight:bold; }
#lm-newsfeed .pni-contents {  margin-bottom: 18px; line-height: 195%; }
#lm-newsfeed .pni-date, #lm-newsfeed .pni-newsicon { display:none; }

.pncButton {
	background: transparent url(http://games-ak.espn.go.com/s/fsrlm/08/images/clubhouse/pncButtons3.gif) no-repeat scroll 0%;
	width: 60px;
	height: 20px;
	cursor: pointer;
	margin: 5px auto 5px auto;
}

.pncButtonPH {
	background: none;
	height: 0px;
}

.pncButtonMove {
	background-position:-122px 50%;
}

.pncButtonHere {
	background-position:-183px 50%;
}

.pncButtonMoveSelected {
	background-position:-61px 50%;
}

.pncButtonDrop {
	background-position:-244px 50%;
}

.pncButtonDrop2 {
	background-position:-915px 50%;
}

.pncButtonDropped {
	background-position:-305px 50%;
}

.pncButtonUndroppable {
	background-position:-366px 50%;
	cursor: default;
}

.pncButtonActivate {
	background-position:-427px 50%;
}

.pncButtonActivateSelected {
	background-position:-488px 50%;
}

.pncButtonActivate2 {
	background-position:-1098px 50%;
}

.pncButtonToIR {
	background-position:-549px 50%;
}

.pncButtonToIRSelected {
	background-position:-610px 50%;
}

.pncButtonToIR2 {
	background-position:-976px 50%;
}

.pncButtonToDL {
	background-position:-671px 50%;
}

.pncButtonToDL2 {
	background-position:-1037px 50%;
}


.pncButtonToDLSelected {
	background-position:-732px 50%;
}

.pncButtonTrade {
	background-position:-793px 50%;
}

.pncButtonLocked {
	background-position: 0px 50%;
	cursor: default;
}

.pncPlayerRow {

}

.emptyRow {
	display: none;
}

.tableBody td.playerEditSlot {
	height: 30px;
	padding: 0 5px 0 5px;
}


#rosterSaveStatus {
	font-size: 10px;
}

.rosterSavedSuccess {
	
}

.rosterSavedFailed {
	color: red;
	font-weight: bold;
}

.rosterMoveSaved {
	color: green;
}

.pncTopButton {
	float: left;
	height: 25px;
	background: transparent url(http://games-ak.espn.go.com/s/fsrlm/08/images/clubhouse/inactiveButton.gif) no-repeat scroll 0%;
	width: 68px;
	cursor: pointer;
	text-align: center;
}

.pncTopButtonText {
	text-transform:uppercase;
	font-size: 11px;
	font-family: Helvetica;
	font-weight: bold;
	line-height: 26px;
	color: #2F3C41;
}

.pncTopButtonTextDisabled {
	color: #999;
	cursor: default;
}

.pncUndoArea {
	height: 25px;
	float: left;
	background: transparent url(http://games-ak.espn.go.com/s/fsrlm/08/images/clubhouse/undoFieldAndButton2.gif) no-repeat scroll 0%;
	width: 221px;
	cursor: pointer;
	position: relative;
	background-position: -52px 0px; 
}

.pncTopArea {
	margin-bottom:10px;
}

.pncTopUndoButton {
	float: right;
	width: 50px;
}

.pncTopButtonActive {
	background: transparent url(http://games-ak.espn.go.com/s/fsrlm/08/images/clubhouse/activeButton.gif) no-repeat scroll 0%;
}

.undoAreaContainer {
	font-size:10px;
	border: 1px solid #BCC2C8;
	height: 21px;
	overflow: hidden;
	font-weight: normal;
	margin: 1px 0 0 1px;
	width: 168px;
	position: absolute;
	left: 0px;
	z-index: 95;
	background-color: #fff;
	text-align: left;
}

.undoStackDiv {
	font-family: Helvetica;
	overflow:hidden;
}

.undoStackDivOver {
	height: auto;
	overflow: auto;
	font-family: Helvetica;
}

.undoStackMove {
	padding-left: 8px;
	line-height: 21px;
}

.pncSaveStatusDiv {

}

.pncSaveStatusDivOver {
	height: auto;
	overflow: auto;
}

#noMovesMadeMessage {
	padding-left: 8px;
	line-height: 21px;
	color: #666;
}

#pncStatusDiv {

}

.rosterSavingSpinnerImage {
	margin: 5px 0 0 5px;
	height: 11px;
	width: 11px;
	float: left;
}

.rosterSavingSpinner {
	padding: 8px;
	line-height: 21px;
}

.rosterSaveStatus {
	padding-left: 8px;
	line-height: 21px;
	
}

.rosterSavingText {
	font-size: 10px;
	color:#333;
}

tr.pncPlayerRowSelected td {
	background: #e0e0cc;
}

tr.pncPlayerRowMoveHover td {
	background: #e0e0cc;
}

tr.pncPlayerRowRecentUpdate td {
	background: #eaeac6;
}

tr.playerTableBgRow1 .slotChanged, tr.playerTableBgRow0 .slotChanged {
	background: #b3b39e;
}

.spacerProp {
	width: 62px;
}



#scoreboardMatchups .matchupGroupLabel {
	margin-bottom:12px;
}
#scoreboardMatchups .matchupGroupLabel span {
	border-bottom:#aaa 1px dashed;
	text-transform:uppercase;
	font-weight:bold;
}
#scoreboardMatchups .matchupContainer {
	vertical-align: top;
}
#scoreboardMatchups .matchup {
	margin-bottom: 35px;
	width: 100%;
	border-collapse: collapse;
}
#scoreboardMatchups .matchupName {
	padding:0 0 4px 2px;
	font-size: 9px;
	font-weight: bold;
}
#scoreboardMatchups .team,
#scoreboardMatchups .score,
#scoreboardMatchups .info {
	border: 1px solid #9e9e9e;
}
#scoreboardMatchups .team {
	background: #d0d0d0 url(http://g.espncdn.com/s/ffllm/08/images/scoreboard3.png) repeat-x 0px -38px;
	height: 38px;
	padding: 0 0 0 8px;
}
#scoreboardMatchups .name {
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
}
#scoreboardMatchups .name .abbrev {
	font-size: 9px;
	font-weight: normal;
}
#scoreboardMatchups .name a,
#scoreboardMatchups .owners a {
	text-decoration: none;
}
#scoreboardMatchups .record {
	margin-right: 2ex;
	color: #666;
}
#scoreboardMatchups .owners a {
	color: #666;
}
#scoreboardMatchups .owners a:hover {
	text-decoration: underline;
}
#scoreboardMatchups .score {
	background: #373837 url(http://g.espncdn.com/s/ffllm/08/images/scoreboard3.png) repeat-x 0px 0px;
	color: white;
	font-size: 22px;
	font-weight: bold;
	padding: 0 6px;
	text-align: right;
	width: 18%;
}
#scoreboardMatchups .ptsBased .score.casterhl {
	background: #930001 url(http://g.espncdn.com/s/ffllm/08/images/scoreboard3.png) repeat-x 0px -76px;
}
#scoreboardMatchups .winning {
	/*background: #f1bc1b url(http://g.espncdn.com/s/ffllm/08/images/scoreboard3.png) repeat-x 0px -114px;*/
	color: #fff999;
}
#scoreboardMatchups .info {
	background: white url(http://g.espncdn.com/s/ffllm/08/images/scoreboard3.png) repeat-x 0px -152px;
	padding: 9px;
}
#scoreboardMatchups .boxscoreLinks {
	font-weight: bold;
	font-size: 9px;
	text-transform: uppercase;
	float: left;
}
#scoreboardMatchups a.adjustScoring {
	float: right;
}
#scoreboardMatchups .scoringDetails {
	border-top: 1px solid #cdcdcd;
	width: 100%;
	margin-top: 6px;
	padding: 3px 3px 0px 3px;
	float: left;
	clear: left;
	white-space: nowrap;
	border-collapse: separate;
	border-spacing: 2px;
}
#scoreboardMatchups .scoringDetails .abbrev {
	font-weight: bold;
	vertical-align: top;
}
#scoreboardMatchups .scoringDetails .labels {
	text-align: right;
	padding-right: 1ex;
	vertical-align: top;
}
#scoreboardMatchups .scoringDetails .playersPlayed {
	vertical-align: top;
	width: 20%;
}
#scoreboardMatchups .scoringDetails .homeTeam {
	border-left: 1px solid #cdcdcd;
	padding-left: 6px;
}

.linescoreTeamRow {
	text-align:right;
}
.linescoreTeamRow td.teamName {
	text-align:left;
	white-space:nowrap;
}
.linescoreTeamRow td.winning {
	font-weight: bold;
}
#scoreboardMatchups tr.linescoreTeamRow td.winning {
	color: #000;
}

.belowMinimum {
	font-style:italic;
}

div.gamesmain table.matchup td, div.gamesmain table.matchup th { 
	vertical-align: middle;
}
