#block-block-4 {
	float: left;
}
#block-block-3 {
	float: right;
}
.field-name-field-right-helmet, 
.field-name-field-helmet1 {
	display: inline-block;
	padding-right: 20px;
}
.field-name-field-trophy-race-leaders,
.group_matchup{
	width: 45%;
	float: left;
}
.field-name-field-power-ranking{
	clear:both;
}
.view-content .item-list{
	float: left;
	padding-right: 50px;
}